<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Category</title>
</head>
<body>
<h1>Add new Category</h1>
<p>
    <a href="/category">Category List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/add-category}" th:object="${category}" method="post">
    <table>
        <tr>
            <td>Category:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add Category"></td>
        </tr>
    </table>
</form>
</body>
</html>