<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remove Blog</title>
</head>
<body>
<h1>Remove Blog</h1>
<p>
    <a href="/">Blog List</a>
</p>
<p>Do you want to remove this Blog?</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/remove}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Blog Name:</td>
            <td><input readonly type="text" th:field="*{blogName}"/></td>
        </tr>
        <tr>
            <td>Writer:</td>
            <td><input readonly type="text" th:field="*{writer}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Remove Blog"></td>
        </tr>
    </table>
    <input hidden type="text" th:field="*{id}"/>
</form>
</body>
</html>