<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remove Customer</title>
</head>
<body>
<h1>Remove Customer</h1>
<p>
    <a href="/">Customer List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/remove}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td>First name:</td>
            <td><input readonly type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input readonly type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Remove Customer"></td>
        </tr>
    </table>
    <input hidden type="text" th:field="*{id}"/>
</form>
</body>
</html>