<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
</head>
<body>
<h1>Blog List</h1>
<a href="/add">Add new Blog</a>
<a href="/category">Category List</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>#</th>
        <th>Blog Name</th>
        <th>Writer</th>
        <th>Category</th>
        <th sec:authorize="hasRole('ADMIN')">Edit</th>
        <th sec:authorize="hasRole('ADMIN')">View</th>
        <th sec:authorize="hasRole('ADMIN')">Remove</th>
    </tr>
    <th:block th:each="blog, status : ${blogList}">
        <tr>
            <td th:text="${status.count} + ${blogList.number} * ${blogList.size}"></td>
            <td th:text="${blog.blogName}"></td>
            <td th:text="${blog.writer}"></td>
            <td th:text="${blog.category.name}"></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/edit(id=${blog.id})}">Edit</a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/view(id=${blog.id})}">View</a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/remove(id=${blog.id})}">Remove</a></td>
        </tr>
    </th:block>
</table>

<a th:href="@{/(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}">Previous</a>
<span th:text="${blogList.number + 1} + '/' + ${blogList.totalPages}"></span>
<a th:href="@{/(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}">Next</a>
</body>
</html>